<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/lobby.css" />
  <script src="https://kit.fontawesome.com/536e9f73a2.js" crossorigin="anonymous" defer></script>
  <script src="/lobby.js" type="module"></script>
  <head>
    <title>Converse | Lobby</title>
  </head>
  <body>
    <main id="main">
      <section id="container">
        <div>
          <img src="chat.svg"  />
          <form id="form" method="post"  >
            <input type="text" name="roomId" placeholder="Enter a room name">
            <button type="submit">JOIN</button>
          </form>
        </div>
        <h1>CONVERSE</h1>
      </section>
    </main>
  </body>
</html>
