<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/lobby.css" />
  <script src="https://kit.fontawesome.com/536e9f73a2.js" crossorigin="anonymous" defer></script>
  <script src="/lobby.js" type="module"></script>
  <head>
    <title>Converse | Lobby</title>
  </head>
  <body>
    <main id="main">
      <section id="container">
        <div id="container-inner">
          <div id="image-container">
            <img id="hero-img" src="chat.svg" />
            <form id="form" method="post">
              <input type="text" name="roomId" placeholder="Enter a room name" />
              <button class="button" type="submit">JOIN</button>
            </form>
          </div>
          <div id="rooms-container">
            <h3>Active Rooms</h3>
            <ul id="rooms"></ul>
          </div>
        </div>
        <h1>CONVERSE</h1>
      </section>
    </main>
  </body>
</html>
