<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/room.css"/>
    <script src="https://kit.fontawesome.com/536e9f73a2.js" crossorigin="anonymous" defer></script>
    <script>
      const ROOM_ID = "{{roomId}}";
    </script>
    <script src="/room.js" type="module"></script>
    <title>{{ roomId }}
      Room</title>
  </head>
  <body>
    <div id="page-container">
      <div id="wrap">
        <aside id="chatroom">
          <ul id="messages"></ul>
          <form id="form">
            <fieldset id="input-field">
              <input id="message-input" name="message" autocomplete="off"/>
              <button id="send" type="submit">Send</button>
            </fieldset>
          </form>
          <div id="chat-controls">
            <button id="copy-link" type="button">
              <i class="fa-solid fa-clipboard"></i>
              Copy Invitation Link</button>
            <button id="start-stream">
              <i class="fa-solid fa-video"></i>
              Start Stream
            </button>
          </div>
        </aside>
      </div>
      <main id="streams">
        <video id="local-stream" playsinline muted></video>
        <div id="remote-streams"></div>
        <div id="media-devices"></div>
        <div id="controls">
          <button id="swap-camera">
            <i class="fa-solid fa-rotate"></i>
          </button>
          <button id="mic">
            <i class="fa-solid fa-microphone-lines"></i>
            <i class="fa-solid fa-microphone-lines-slash"></i>
          </button>
          <button id="camera">
            <i class="fa-solid fa-video"></i>
            <i class="fa-solid fa-video-slash"></i>
          </button>
          <button id="screen-cast">
            <span class="fa-stack">
              <i class="fa-solid fa-display fa-stack-1x"></i>
              <i class="fa-solid fa-slash fa-stack-1x"></i>
            </span>
          </button>
          <button id="hangup">
            <i class="fa-solid fa-phone-slash"></i>
          </button>
        </div>
      </main>
    </div>
  </body>
</html>
