#streams {
  background-color: var(--ebony);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 0;
  height: 0;
  transition: width 0.5s ease-in-out;
}

#streams.open {
  width: 100%;
  height: 100%;
}

#media-devices {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--dark-blue);
  color: var(--pewter);
  padding: 4px;
  border-radius: 4px;
  font-size: 0.5rem;
  display: none;
}

#media-devices > :not(:last-child) {
  margin-bottom: 0.5rem;
}

#media-devices h2 {
  font-size: 1.05rem;
  margin-bottom: 0.25rem;
}

#media-devices select {
  font-size: 0.5rem;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page-container {
  height: 100%;
  background-image: radial-gradient(var(--dark-blue), var(--ebony));
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: height 0.5s ease-out;
}

#wrap.stream-open {
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

#wrap.stream-open #chatroom {
  position: absolute;
  width: 100%;
  bottom: 5rem;
  max-height: 200px;
}

#wrap.stream-open #chatroom,
#wrap.stream-open #messages {
  background-color: transparent;
  height: auto;
}

#wrap.stream-open #form,
#wrap.stream-open #chat-controls {
  display: none;
}

#chatroom {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  padding: 16px;
  background-color: var(--dark-blue);
}

#chatroom ul {
  flex-grow: 1;
  list-style: none;
}

#form {
  padding: 2px 0 0;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

#input-field {
  display: flex;
  border: 2px solid var(--pewter);
  border-radius: 4px;
}

#messages {
  padding: 4px 8px;
  overflow-y: auto;
  height: calc(100vh - var(--form-height));
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#messages > :not(:last-child) {
  margin-bottom: 4px;
}

#message-input {
  height: var(--message-height);
  padding: 2px 6px;
  font-size: 0.75rem;
  color: var(--dark-blue);
  width: 100%;
  border: none;
  border-top: 2px solid var(--ebony);
  border-bottom: 2px solid var(--ebony);
  border-left: 2px solid var(--ebony);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#send {
  height: var(--message-height);
  border: none;
  background-color: var(--dark-blue);
  color: var(--pewter);
  border: 2px solid var(--ebony);
  letter-spacing: 1px;
  font-size: 1.05rem;
  padding: 2px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

#local-stream {
  transition: all 0.5s ease;
}

#local-stream.active {
  position: absolute;
  height: 135px;
  width: 240px;
  top: 1rem;
  left: 1rem;
  border-radius: 8px;
}

#remote-streams {
  height: 0px;
  width: 0px;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

#remote-streams.active {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

[data-remote-stream] {
  flex-basis: 49%;
  flex-grow: 1;
}

#controls {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#controls button:not(:last-of-type) {
  margin-right: 2rem;
}

#controls button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  color: var(--pewter);
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#controls button.active {
  background-color: var(--red);
}

#controls button :is(.fa-microphone-lines-slash, .fa-video-slash, .fa-slash),
#controls button.active > :is(.fa-microphone-lines, .fa-video) {
  display: none;
}

#controls button.active :is(.fa-microphone-lines-slash, .fa-video-slash, .fa-slash) {
  display: block;
}

#controls button:disabled {
  opacity: 0.5;
}

.chat-message {
  display: flex;
  align-items: end;
  padding: 0 4px;
}

.chat-message > :first-child:not(.current-user) {
  margin-right: 8px;
}

.chat-message > :first-child:is(.current-user) {
  margin-left: 8px;
}

.chat-message.reverse {
  flex-direction: row-reverse;
}

#wrap.stream-open .system-message {
  color: var(--pewter);
}

.system-message {
  color: var(--dark-blue);
  font-size: 0.75rem;
  word-break: break-word;
}

.avatar {
  background-color: var(--dark-blue);
  height: max-content;
  border-radius: 4px;
  padding: 2px 4px;
}

.current-user {
  color: var(--red);
  text-align: right;
}

.user {
  color: var(--blue-gray);
}

.message-container {
  background-color: var(--pewter);
  border-radius: 4px;
  padding: 6px 12px;
}

.message {
  color: var(--ebony);
  word-break: break-word;
}

.date {
  color: slategray;
  text-align: right;
  font-size: 0.6rem;
  margin-bottom: 4px;
}

#chat-controls {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

#start-stream,
#copy-link {
  border: none;
  background-color: var(--pewter);
  color: var(--dark-blue);
  letter-spacing: 1px;
  font-size: 0.75rem;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#start-stream:active,
#copy-link:active {
  background-color: var(--blue-gray);
}

#start-stream.hidden {
  display: none;
}

.fa-clipboard,
.fa-video {
  margin-right: 4px;
}

.fa-arrow-right-to-bracket {
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  #page-container {
    display: flex;
  }

  #wrap {
    max-width: 50%;
  }

  #wrap.stream-open {
    width: min-content;
    display: block;
    pointer-events: all;
  }

  #wrap.stream-open #chatroom {
    min-width: 320px;
    width: 320px;
    resize: horizontal;
  }

  #wrap.stream-open {
    position: relative;
  }

  #wrap.stream-open #chatroom {
    position: static;
    width: auto;
    bottom: auto;
    max-height: none;
  }

  #wrap.stream-open #chatroom,
  #wrap.stream-open #messages {
    height: 100%;
  }

  #wrap.stream-open #chatroom {
    background-color: var(--dark-blue);
    pointer-events: all;
  }

  #wrap.stream-open #messages {
    background-color: #fff;
  }

  #wrap.stream-open .system-message {
    color: var(--dark-blue);
  }

  #wrap.stream-open #form,
  #wrap.stream-open #chat-controls,
  #media-devices {
    display: block;
  }

  button#swap-camera {
    display: none;
  }

  video {
    object-fit: contain;
  }

  #remote-streams.active {
    flex-direction: row;
  }
}
