@import 'reset.css';
@import 'global.css';

#streams {
  background-color: var(--ebony);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#media-devices {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--dark-blue);
  color: var(--pewter);
  padding: 4px;
  border-radius: 4px;
  font-size: 0.5rem;
}

#media-devices > :not(:last-child) {
  margin-bottom: 0.5rem;
}

#media-devices h2 {
  font-size: 1.05rem;
  margin-bottom: 0.25rem;
}

#media-devices select {
  font-size: 0.5rem;
}

video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#page-container {
  display: flex;
  height: 100%;
}

#wrap {
  width: min-content;
  position: relative;
  max-width: 50%;
}

#chatroom {
  position: relative;
  height: 100%;
  min-width: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  resize: horizontal;
  max-width: 100%;
}

#chatroom ul {
  flex-grow: 1;
  list-style: none;
}

#form {
  padding: 2px 0 0;
  background-color: var(--dark-blue);
  height: var(--form-height);
}

#input-field {
  display: flex;
}

#copy-link {
  border: none;
  padding: 2px 4px;
  background-color: var(--pewter);
  color: var(--ebony);
  margin-top: 1rem;
  cursor: pointer;
}

#copy-link:active {
  background-color: var(--blue-gray);
}

#messages {
  padding: 4px 8px;
  overflow-y: auto;
  height: calc(100vh - var(--form-height));
}

#messages > :not(:last-child) {
  margin-bottom: 4px;
}

#message {
  width: 100%;
  height: var(--message-height);
  padding: 2px 4px;
  font-size: 0.75rem;
  color: var(--dark-blue);
}

#send {
  height: var(--message-height);
  background-color: var(--pewter);
  color: var(--dark-blue);
  padding: 4px 12px;
  border: none;
}

#local-stream {
  transition: all 0.5s ease;
}

#local-stream.active {
  position: absolute;
  height: 135px;
  width: 240px;
  top: 1rem;
  left: 1rem;
  border-radius: 8px;
}

#remote-stream {
  height: 0px;
  width: 0x;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

#remote-stream.active {
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#controls button:not(:last-of-type) {
  margin-right: 2rem;
}

#controls button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  color: var(--pewter);
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#controls button.active {
  background-color: var(--red);
}

#controls button > :is(.fa-microphone-lines-slash, .fa-video-slash),
#controls button.active > :is(.fa-microphone-lines, .fa-video) {
  display: none;
}

#controls button.active > :is(.fa-microphone-lines-slash, .fa-video-slash) {
  display: block;
}

#controls button:disabled {
  opacity: 0.5;
}

.chat-message {
  display: flex;
  align-items: end;
  padding: 0 4px;
}

.chat-message > :first-child:not(.current-user) {
  margin-right: 8px;
}

.chat-message > :first-child:is(.current-user) {
  margin-left: 8px;
}

.chat-message.reverse {
  flex-direction: row-reverse;
}

.system-message {
  color: var(--dark-blue);
  font-size: 0.75rem;
  word-break: break-word;
}

.avatar {
  background-color: var(--dark-blue);
  height: max-content;
  border-radius: 4px;
  padding: 2px 4px;
}

.current-user {
  color: var(--red);
  text-align: right;
}

.user {
  color: var(--blue-gray);
}

.message-container {
  background-color: var(--pewter);
  border-radius: 4px;
  padding: 2px 4px;
  width: 100%;
}

.message {
  color: var(--ebony);
  word-break: break-word;
}

.date {
  color: var(--dark-blue);
  text-align: right;
  font-size: 0.75rem;
}
