:root {
  --blue-gray: #90adc6;
  --pewter: #e9eaec;
  --yellow: #fad02c;
  --dark-blue: #333652;
  --red: #f83c31;
  --ebony: #111f29;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#streams {
  background-color: var(--ebony);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#media-devices {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--dark-blue);
  color: var(--pewter);
  padding: 4px;
  border-radius: 4px;
  font-size: .5rem;
}

video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#page-container {
  display: flex;
  height: 100%;
}

#wrap {
  width: min-content;
  position: relative;
  max-width: 50%;
}

#chatroom {
  position: relative;
  height: 100%;
  min-width: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  resize: horizontal;
  max-width: 100%;
}

#chatroom ul {
  flex-grow: 1;
  list-style: none;
}

#form {
  display: flex;
}

#messages {
  padding: 4px 8px;
  overflow-y: auto;
  height: calc(100vh - 2rem);
}

#messages > :not(:last-child) {
  margin-bottom: 4px;
}

#message {
  width: 100%;
  height: 2rem;
  padding: 2px 4px;
  font-size: .75rem;
  color: var(--dark-blue);
}

#send {
  height: 2rem;
  background-color: var(--pewter);
  color: var(--dark-blue);
  padding: 4px 12px;
  border: none;
}

#local-stream {
  transition: all .5s ease;
}

#local-stream.active {
  position: absolute;
  height: 150px;
  width: 200px;
  top: 1rem;
  left: 1rem;
  border-radius: 8px;
}

#remote-stream {
  height: 0px;
  width: 0x;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

#remote-stream.active {
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

#controls button:not(:last-of-type) {
  margin-right: 2rem;
}

#controls button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  color: var(--pewter);
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0, .4);
}

#controls button.active {
  background-color: var(--red);
}

#controls button > :is(.fa-microphone-lines-slash, .fa-video-slash),
#controls button.active > :is(.fa-microphone-lines, .fa-video) {
  display: none;
}

#controls button.active > :is(.fa-microphone-lines-slash, .fa-video-slash) {
  display: block;
}

#controls button:disabled {
  opacity: .5;
}

.chat-message {
  display: flex;
  align-items: end;
  padding: 0 4px;
}

.chat-message > :first-child {
  margin-right: 8px;
}

.system-message {
  color: var(--dark-blue);
  font-size: .75rem;
  word-break: break-word;
}

.avatar {
  background-color: var(--dark-blue);
  height: max-content;
  border-radius: 4px;
  padding: 2px 3px;
  width: 50px;

}

.current-user {
  color: var(--red);
}

.user {
  color: var(--yellow);
}

.message-container {
  background-color: var(--pewter);
  border-radius: 4px;
  padding: 2px 3px;
  width: 100%;
}

.message {
  color: var(--ebony);
  word-break: break-word;
}

.date {
  color: var(--dark-blue);
  text-align: right;
  font-size: .5rem;
}